parameters:
	ignoreErrors:
		-
			message: '#^Method yii2\\extensions\\sentry\\SentryTarget\:\:runExtraCallback\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/SentryTarget.php

		-
			message: '#^Method yii2\\extensions\\sentry\\SentryTarget\:\:runExtraCallback\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/SentryTarget.php

		-
			message: '#^Property yii2\\extensions\\sentry\\SentryTarget\:\:\$clientOptions type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/SentryTarget.php

		-
			message: '#^Method yii2\\extensions\\sentry\\tests\\SentryTargetTest\:\:testMessageConverting\(\) has parameter \$loggedMessage with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/SentryTargetTest.php

		-
			message: '#^Property yii2\\extensions\\sentry\\tests\\SentryTargetTest\:\:\$messages type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/SentryTargetTest.php
