parameters:
	ignoreErrors:
		-
			message: '#^Method yii2\\extensions\\sentry\\SentryTarget\:\:runExtraCallback\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/SentryTarget.php

		-
			message: '#^Method yii2\\extensions\\sentry\\SentryTarget\:\:runExtraCallback\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/SentryTarget.php

		-
			message: '#^PHPDoc tag @var for variable \$user contains generic class yii\\web\\User but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/SentryTarget.php

		-
			message: '#^Property yii2\\extensions\\sentry\\SentryTarget\:\:\$clientOptions type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/SentryTarget.php

		-
			message: '#^Method yii2\\extensions\\sentry\\tests\\SentryTargetTest\:\:testMessageConverting\(\) has parameter \$loggedMessage with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/SentryTargetTest.php

		-
			message: '#^Property yii2\\extensions\\sentry\\tests\\SentryTargetTest\:\:\$messages type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/SentryTargetTest.php

		-
			message: '#^Access to an undefined property BaseApplication\:\:\$user\.$#'
			identifier: property.notFound
			count: 2
			path: tests/commands/SentryController.php

		-
			message: '#^Class yii2\\extensions\\sentry\\tests\\commands\\SentryController extends generic class yii\\console\\Controller but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: tests/commands/SentryController.php

		-
			message: '#^Method Sentry\\State\\Scope\:\:setUser\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/commands/SentryController.php

		-
			message: '#^Method yii2\\extensions\\sentry\\tests\\commands\\SentryController\:\:logsProvider\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/commands/SentryController.php
